* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

h6 {
  color: rgb(255, 191, 0);
  text-align: center;
  margin: 1em 0;
}

@media (min-width: 400px) {
body {
  background-color: #000;
  border-radius: 20px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#grid-1, #grid-2 {
  color: rgb(255, 191, 0);
  width: 90vw;
  height: 20vh;
  margin: 1em 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.column {
  text-align: center;
}

.btn-div {
  display: flex;
  justify-content: center;
}
#btn {
  color: #fff;
  max-width: 50%;
}

#canvas-container {
  width: 100%;
  text-align: center;
}

#canvas {
  height: 100%;
  max-width: 50%;
  word-break: break-all;
  word-wrap: break-word;
  display: inline;
}
}