@media (min-width: 400px) {
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #000;
  border-radius: 20px;
  margin: 0 auto;
  padding-top: 2em;
}

#grid-1, #grid-2 {
  color: rgb(255, 191, 0);
  justify-content: space-around;
  font-size: 25px;
  padding-top: 1em;
  padding-left: 10em;
  padding-right: 10em;
  background-color: rgb(0, 255, 255);
  width: 90vw;
  height: 20vh;
  margin: auto;
  border-radius: 50px;
}

#grid-2 {
  padding-top: 0;
  margin-top: 1em;
}

.btn-div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
}
#btn {
  margin-top: 1em;
  color: #fff;
}

#canvas {
  top: 60%;
  position: absolute;
  left: 25%;
  width: 30vw;
  height: 35vh;
  max-height: 35vh;
  max-width: 90vw;
  word-break: break-all;
  word-wrap: break-word;
}
}

@media(min-width: 716px) {
  #canvas {
    width: 40vw;
    height: 50vh;
    border-radius: 20px;
  }
}